@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@import "tailwindcss";

.font-noto {
    font-family: 'Noto Sans KR', sans-serif;
}
.font-pretendard {
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}