<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link th:href="@{/output.css}" rel="stylesheet">
</head>
<body class="w-full font-pretendard">
<div th:replace="_fragments/header :: header"></div>
<header class="bg-black flex flex-col justify-center items-center text-white">
    <h1 class="font-bold text-[2.5rem]">🔍 유사이미지 매칭 시스템</h1>
    <h1 class="font-normal">AI 기반 이미지 유사도 검색 및 매칭</h1>
</header>
LLM Challenge Home
</body>
</html>