<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="controls"
     class="bg-white py-5 flex items-center justify-between border-t border-gray-200 px-1 w-full">
    <div class="flex-1"></div>
    <div class="flex-1 flex items-center justify-center">
        <nav id="pagination-actions" class="relative z-0 inline-flex text-[12px]">
            <a id="pagination-previous"
               th:href="@{|?page=${page.number-1}|}"
               class="relative inline-flex items-center px-3 py-1 rounded-l-md border bg-white leading-3 font-medium"
               th:aria-label="이전"
               th:classappend="${page.isFirst()?'pointer-events-none text-gray-200 border-gray-200':'border-gray-300 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-gray-300 focus:shadow-outline-blue active:bg-gray-300 active:text-gray-300 transition ease-in-out duration-150'}"
               th:disabled="${page.isFirst()}">
                        <span class="text-center">
                            이전
                        </span>
            </a>

            <th:block
                    th:with="startPage=${T(java.lang.Math).max(1, page.getNumber() - 2)},endPage=${T(java.lang.Math).min(startPage + 6, page.getTotalPages())}">
                <a th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}"
                   th:id="${'pagination-page-' + pageNumber}"
                   th:href="@{|?page=${pageNumber - 1}|}"
                   class="-ml-px relative inline-flex items-center px-3 py-1 border border-gray-300 leading-3 font-medium focus:z-10 focus:outline-none focus:border-gray-300 focus:shadow-outline-blue active:bg-gray-300 active:text-gray-300 transition ease-in-out duration-150 hover:text-gray-400"
                   th:classappend="${page.number == pageNumber - 1?'font-bold text-[#667EEA]':''}"
                >
                    <span th:text="${pageNumber}" th:remove="tag"></span>
                </a>
            </th:block>

            <a id="pagination-next"
               th:href="@{|?page=${page.number+1}|}"
               class="-ml-px relative inline-flex items-center px-3 py-1 rounded-r-md border bg-white leading-3 font-medium"
               th:aria-label="다음"
               th:classappend="${page.isLast()?'pointer-events-none text-gray-200 border-gray-200':'border-gray-300 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-gray-300 focus:shadow-outline-blue active:bg-gray-300 active:text-gray-300 transition ease-in-out duration-150'}"
               th:disabled="${page.isLast()}">
                        <span class="text-center">
                            다음
                        </span>
            </a>
        </nav>
    </div>
    <div class="flex-1 text-right">
        <p id="pagination-summary" class="text-[12px] leading-5 text-gray-700">
            총
            <span class="font-medium" th:text="${page.getTotalElements()}">97</span>
            개 결과 중
            <span class="font-medium"
                  th:text="${(page.getSize() * page.getNumber()) + 1}">1</span>
            번부터
            <span class="font-medium"
                  th:text="${(page.getSize() * page.getNumber()) + page.getNumberOfElements()}">10</span>
            번까지 표시 중
        </p>
    </div>
</div>

</body>
</html>